<!-- Nav bar starts here -->
<nav class="navbar navbar-expand-lg navbar-light px-3">
    <a class="navbar-brand" routerLink="">
        <img src="https://www.worldremit.com/public-assets/static/3921159cca865a728c1b56a0dab7bae4/WorldRemit_Identity_2020_RGB_72ppi_PURPLE.png" class="d-inline-block align-top logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="remittance">All Remittance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactus">Contact Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="allusers">All Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="getAllOperations">All Operations</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="register">Sign Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="logout">Log Out</a>
            </li>
            
        </ul>
    </div>
</nav>
<!-- Nav bar ends here -->