
          <!-- Header start -->
      
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 my-5 mb-3">
                                <div class="sub-header">
                                    <h1>Faster & Secure Way Money Transfer</h1>
                                    <p class="text-muted para-dec">There are many variations of passages of Lorem Ipsum
                                        available but the majority
                                        have
                                        suffered alteration in some form.</p>
                                    <a routerLink="admin" class="btn btn-primary mr-2 mb-3 mb-md-1 margin:5px;">Send Money</a>
                                    <a href="#" class="btn btn-primary mb-3 mb-md-1 margin:5px;">Request Money</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header-image">
                                    <img src="https://devmtes.blob.core.windows.net/strapi/uploads_p/4727967beb7046ff9a49b800b36f574d.jpg" alt="Header">
                                </div>
                            </div>
                        </div>
                    </div>
 
        <!-- Header end -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center my-5 fa fa-user fa-3x my-4">
      <h1 class="section-title">Our services</h1>
      <hr>
    </div>
    <div class="col-md-4">
        <div class="card">
          <img src="https://paysii.com/assets/images/v2/step1.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">1. Sign up for free</h5>
            <p class="card-text">Register online or via our unique mobile application hassle free. Please make sure to have your email address ready.</p>
           
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="https://paysii.com/assets/images/v2/step2.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">2. Select country & enter amount</h5>
            <p class="card-text">Select the country of your choice, enter the amount you would like to send, see rates and fees applied & the total you have.</p>
          
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="https://paysii.com/assets/images/v2/step3.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">3. Add recipient information</h5>
            <p class="card-text">Add recipient details i.e. mobiles wallets or bank account details. You can also select recipients from previous transactions.</p>
           
          </div>
        </div>
      </div> 

      <div class="col-md-4">
        <div class="card">
          <img src="https://paysii.com/assets/images/v2/step4.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">4. Verify your identity</h5>
            <p class="card-text">To help us verify your identity and keep your money safe, we might ask for a photo of your ID and a proof of address.</p>
           
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="	https://paysii.com/assets/images/v2/step5.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">5. Pay for your transfer</h5>
            <p class="card-text">Use your debit or credit to pay for your transfer using our safe and secure payment platform.</p>
          
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="	https://paysii.com/assets/images/v2/step6.webp" class="card-img-top cimage" alt="...">
          <div class="card-body">
            <h5 class="card-title">6. That's it</h5>
            <p class="card-text">Let us do the rest. You can follow the status of your transfer on your account and we will notify the recipient.</p>
           
          </div>
        </div>
      </div>

      <section class="about" id="about">
        <div class="container">
            <div class="section-title text-center mb-5">
               <br>
                <h2>We Help To Secure Your System</h2>
            </div>
            <div class="row justify-vertical">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="about-thumb mb-3 mb-lg-0">
                        <img src="https://ajaib-wp-s3-artifact.s3.ap-southeast-1.amazonaws.com/prd/wp-content/uploads/2020/07/jual-saham.jpg" alt="About">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-content pt-lg-5">
                        <p class="text-muted">Nunc rhoncus nulla quis mi ultrices vestibulum. Sed molestie nisl viverra,
                            accumsan odio
                            vitae, sollicitudin nisl. Donec vitae urna nec arcu sodales bibendum. Fusce nec venenatis
                            augue.</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus
                            elementum ipsum
                            vitae ullamcorper. Nullam dignissim condimentum dui at egestas.</p>
                        <ul class="about-feature">
                            <li>
                                <h3>50k+</h3>
                                <h6 class="space text-muted">Happy Clients</h6>
                            </li>
                            <li>
                                <h3>750k+</h3>
                                <h6 class="space text-muted">Total Download</h6>
                            </li>
                            <li>
                                <h3>50+</h3>
                                <h6 class="space text-muted">Team Members</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
    </section> 


    
  </div>
</div>
  